<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smart Study Manager</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="app">

    <aside class="sidebar">

        <h2>SMART STUDY</h2>
        <p>MANAGER</p>

        {% if session.get("user_id") %}

        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('subjects') }}">Subjects</a>
        <a href="{{ url_for('tasks') }}">Tasks</a>
        <a href="{{ url_for('study_sessions') }}">Study Sessions</a>
        <a href="{{ url_for('attendance') }}">Attendance</a>
        <a href="{{ url_for('analytics') }}">Analytics</a>
        <a href="{{ url_for('reports') }}">Reports</a>

        <div class="sidebar-bottom">
            <span>{{ session.get("full_name") }}</span>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

        {% endif %}

    </aside>

    <main class="content">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>

</div>

</body>
</html>